<div class="mission-details card" *ngIf="mission">
  <div class="mission-details-title card-header">
    <span>{{ mission.title }}</span>
    <h5>
      <span class="badge bg-success">{{ mission.code }}</span>
    </h5>
  </div>
  <div class="card-body">
    <div class="d-md-flex">
      <div class="value">
        <h6>{{ mission.department.name }}</h6>
      </div>
    </div>
    <div class="d-md-flex">
      <div class="value">
        <h6>Create in {{ mission.createdDate | date : "EEEE, MMMM d, y" }}</h6>
      </div>
    </div>
    <div class="d-md-flex">
      <div class="d-flex mission-details-period value">
        <h6>
          From :

          <span class="badge bg-secondary">{{ mission.startDate | date }}</span>

          To :

          <span class="badge bg-secondary">{{ mission.startDate | date }}</span>
        </h6>
      </div>
    </div>
    <div class="d-flex">
      <div class="value">
        <h6>Budget {{ mission.budget | currency }}</h6>
      </div>
    </div>
    <div class="d-flex">
      <div class="value">
        <h6>Cost {{ mission.cost | currency }}</h6>
      </div>
    </div>
    <div class="d-flex">
      <div class="value">
        <h6>
          Priority
          <span
            class="badge"
            [ngClass]="{
              'bg-danger': mission.priority === Priority.Urgent,
              'bg-warning': mission.priority === Priority.High,
              'bg-success': mission.priority === Priority.Normal,
              'bg-secondary': mission.priority === Priority.Low
            }"
            >{{ Priority[mission.priority] }}</span
          >
        </h6>
      </div>
    </div>

    <div>
      <div class="mission-description value">
        <p>{{ mission.description }}</p>
      </div>
    </div>
    <div class="d-flex">
      <div class="value w-100">
        <ul class="list-group mb-1">
          <li class="list-group-item active" aria-current="true">
            <h6>Distance {{ mission.distance }} KM</h6>
          </li>
          <li class="list-group-item"><h6>Marrakech</h6></li>
          <li class="list-group-item"><h6>Casablanca</h6></li>
          <li class="list-group-item"><h6>Fes</h6></li>
        </ul>
      </div>
    </div>
    <div class="d-flex">
      <div class="value w-100">
        <ul class="list-group mb-1">
          <li class="list-group-item active" aria-current="true">
            <h6>Participants</h6>
          </li>
          <li
            class="list-group-item d-flex align-items-center"
            *ngFor="let participant of mission.participants"
          >
            <img
              [src]="'data:image/png;base64,' + participant.avatar"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
            />
            <h6>
              {{ participant.fullName }}
            </h6>
          </li>
        </ul>
      </div>
    </div>
    <div class="d-flex">
      <button type="button" class="btn btn-hipster me-1" (click)="onDownload()">
        <span><i class="fas fa-file-download fa-2x"></i></span>
        Download Order
      </button>
      <button type="button" class="btn btn-hipster ms-1" (click)="onView()">
        <span><i class="far fa-file-pdf fa-2x"></i></span>
        View Order
      </button>
    </div>
  </div>
</div>
