<div class="overlay show down-overlay">
  <div class="form modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{ title }}</h4>
      <button (click)="onDismissClick()" class="close-btn">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="modal-body">
      <ng-content></ng-content>
    </div>
    <div class="modal-footer">
      <ng-content select="[modalFooter]"></ng-content>
    </div>
    <div class="modal-footer modal-footer-default">
      <button type="button" class="btn btn-hipster">OK</button>
    </div>
  </div>
</div>
