<app-modal (dismiss)="showModal = false" *ngIf="showModal" [isCentered]="false">
  <app-department-form
    [department]="department"
    [parents]="parents"
    [cities]="cities"
    [managers]="managers"
    [departmentTypes]="departmentTypes"
    (departmentPatch)="onPatch($event)"
    (departmentPost)="onPost($event)"
  ></app-department-form>
  <div modalFooter></div>
</app-modal>
<div class="section-title">
  <h5>
    <span
      class="badge"
      [ngClass]="{
        primary: !isDown,
        'bg-danger': isDown
      }"
      >{{ isDown ? "Disabled" : "Active" }} Departments</span
    >
  </h5>
</div>
<app-search
  title="Type to Search"
  [hasAddNew]="!isDown && permission.canPost"
  (create)="onCreate()"
  (search)="search($event)"
></app-search>

<div class="departments" [ngClass]="{ 'no-element': notFound || isLoading }">
  <ng-container *ngIf="!notFound && !isLoading; else elseNotFoundOrLoading">
    <table class="table table-responsive align-middle mb-0 bg-white">
      <thead
        [ngClass]="{
          primary: !isDown,
          'bg-danger': isDown
        }"
      >
        <tr>
          <th>Department Name</th>
          <th>Parent Department</th>
          <th>City</th>
          <th class="text-center">Type</th>
          <th>Manager</th>
          <th *ngIf="permission.canPatch">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let department of departments">
          <td data-title="Name">{{ department.name }}</td>
          <td data-title="Parent">{{ department.parent?.name }}</td>
          <td data-title="City">{{ department.city.name }}</td>
          <td data-title="Type" class="department-type">
            <span
              class="badge"
              [ngClass]="{
                'bg-danger': isDown,
                'bg-success':
                  department.departmentType.name === 'Central' && !isDown,
                'bg-primary':
                  department.departmentType.name === 'Regional' && !isDown,
                'bg-warning':
                  department.departmentType.name === 'Provincial' && !isDown
              }"
              >{{ department.departmentType.name }}</span
            >
          </td>
          <td data-title="Manager" class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
              <img
                [src]="'data:image/png;base64,' + department.manager.avatar"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
              />
              <div class="ms-3">
                <p class="fw-bold mb-1">{{ department.manager.fullName }}</p>
              </div>
            </div>
          </td>
          <td *ngIf="permission.canPatch">
            <div class="btn-container">
              <button
                *ngIf="!isDown"
                type="button"
                class="btn btn-transparent text-warning"
                (click)="onEdit(department.id)"
              >
                <i class="fas fa-pen"></i>
              </button>
              <button
                type="button"
                class="btn btn-transparent"
                [ngClass]="{
                  'text-danger': !isDown,
                  'text-success': isDown
                }"
                (click)="onUpDown(department.id)"
              >
                <i
                  class="fas"
                  [ngClass]="{
                    'fa-arrow-circle-down': !isDown,
                    'fa-arrow-circle-up': isDown
                  }"
                ></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #elseNotFoundOrLoading>
    <app-spinner *ngIf="isLoading"></app-spinner>
    <app-not-found
      *ngIf="notFound && !isLoading"
      message="sorry no department was found"
    ></app-not-found>
  </ng-template>
</div>
<app-pagination
  [numberOfPages]="numberOfPages"
  (getPage)="getPage($event)"
></app-pagination>
