<div class="mission-container" [ngClass]="{
  'show-details':showDetails
}">
  <app-modal (dismiss)="onDismiss()" *ngIf="showFormModal" [isCentered]="false">
    <app-mission-form
      [cities]="cities"
      [employees]="employees"
      [departments]="departments"
      [priorities]="priorities"
      (missionPost)="onPostMission($event)"
    ></app-mission-form>
    <div modalFooter></div>
  </app-modal>
  <app-modal (dismiss)="onDismiss()" *ngIf="showMapModal" [isCentered]="false">
    <app-mission-map></app-mission-map>
    <div modalFooter></div>
  </app-modal>
  <div class="missions">
    <div class="mission-filter">
      <app-search [title]="'Missions'" (create)="onCreate()"></app-search>
    </div>
    <div class="mission-list">
      <ng-container *ngFor="let mission of missions">
        <app-mission-item
          [mission]="mission"
          [selectedIndex]="selectedIndex"
          (view)="onDetails($event)"
        ></app-mission-item>
      </ng-container>
    </div>
  </div>
  <!-- <div class="mission-map">
    <app-mission-map></app-mission-map>
  </div> -->
  <div class="mission-info">
    <app-mission-details 
    [mission]="selected" 
    (showMap)="onShowMap()"
    (close)="onHideDetails()"></app-mission-details>
  </div>
</div>
