<div class="mission-container show-details">
  <app-modal (dismiss)="onDismiss()" *ngIf="showModal" [isCentered]="false">
    <app-mission-form
      [cities]="cities"
      [employees]="employees"
      [departments]="departments"
      [priorities]="priorities"
      (missionPost)="onPostMission($event)"
    ></app-mission-form>
    <div modalFooter></div>
  </app-modal>
  <div class="missions">
    <div class="mission-filter">
      <app-search [title]="'Missions'" (create)="onCreate()"></app-search>
    </div>
    <div class="mission-list">
      <ng-container *ngFor="let mission of missions">
        <app-mission-item
          [mission]="mission"
          (view)="onDetails($event)"
        ></app-mission-item>
      </ng-container>
    </div>
  </div>
  <div class="mission-map">
    <app-mission-map></app-mission-map>
  </div>
  <div class="mission-info">
    <app-mission-details></app-mission-details>
  </div>
</div>
