<div class="mission-container">
  <div class="missions">
    <div class="mission-filter">
      <app-search [title]="'Missions'"></app-search>
    </div>
    <div class="mission-list">
      <ng-container *ngFor="let mission of missions">
        <app-mission-item [mission]="mission"></app-mission-item>
      </ng-container>
    </div>
  </div>
  <div class="mission-map">Mission Map</div>
  <div class="mission-info">
    <div class="mission-details">Mission details</div>
    <div class="mission-participants">Mission participants</div>
  </div>
</div>
