<div
  class="mission-item"
  [ngClass]="{ selected: mission.id == selectedIndex }"
  (click)="onClick(mission.id)"
>
  <div class="mission-item-title">
    <h6>{{ mission.title }}</h6>
    <h6>{{ mission.department.name }}</h6>
  </div>

  <div class="mission-item-badges">
    <h6>
      <span class="badge bg-success"> {{ mission.code }}</span>
      <span
        class="badge"
        [ngClass]="{
          'bg-warning': mission.status.name === 'Created',
          'bg-success':
            mission.status.name === 'InProgress' ||
            mission.status.name === 'Completed',
          'bg-secondary': mission.status.name === 'Cancelled'
        }"
        >{{ mission.status.name }}</span
      >
    </h6>
    <h6>
      Priority :
      <span
        class="badge"
        [ngClass]="{
          'bg-danger': mission.priority === Priority.Urgent,
          'bg-warning': mission.priority === Priority.High,
          'bg-success': mission.priority === Priority.Normal,
          'bg-secondary': mission.priority === Priority.Low
        }"
        >{{ Priority[mission.priority] }}</span
      >
    </h6>
  </div>

  <h6 class="">Budget : {{ "$" + mission.budget }}</h6>
  <div class="d-flex justify-content-between">
    <h6>
      From :
      <span class="badge bg-secondary">{{ mission.startDate | date }}</span>
      To :
      <span class="badge bg-secondary">{{ mission.startDate | date }}</span>
    </h6>
  </div>
  <div class="mission-item-badges d-none">
    <h6>
      Priority :
      <span
        [ngClass]="{
          'bg-danger': mission.priority === Priority.Urgent,
          'bg-warning': mission.priority === Priority.High,
          'bg-success': mission.priority === Priority.Normal,
          'bg-secondary': mission.priority === Priority.Low
        }"
        >{{ mission.priority }}</span
      >
    </h6>
    <h6>
      Status : <span class="badge bg-warning">{{ mission.status.name }}</span>
    </h6>
  </div>
</div>
