<app-modal (dismiss)="onDismiss()" *ngIf="showModal">
  <app-employee-form [employee]="employee"></app-employee-form>
  <div modalFooter></div>
</app-modal>

<app-search (create)="onCreate()" (search)="search($event)"></app-search>

<div class="employee-list" [ngClass]="{ 'no-element': notFound }">
  <ng-container *ngIf="!notFound && !isLoading; else elseNotFoundOrLoading">
    <app-employee
      *ngFor="let employee of employees"
      [employee]="employee"
      (edit)="onEdit($event)"
    ></app-employee>
  </ng-container>
  <ng-template #elseNotFoundOrLoading>
    <app-spinner *ngIf="isLoading"></app-spinner>
    <app-not-found
      *ngIf="notFound && !isLoading"
      message="sorry no employee was found"
    ></app-not-found>
  </ng-template>
</div>

<app-pagination
  [numberOfPages]="numberOfPages"
  (getPage)="getPage($event)"
></app-pagination>
