<aside class="sidebar" [ngClass]="{ 'show-sidebar': showMenu }">
  <!-- links -->
  <ul class="links">
    <li>
      <a href="cart.html"><i class="fas fa-cart-plus link-icon"></i>cart</a>
    </li>
    <li>
      <a href="products.html"
        ><i class="fas fa-search link-icon"></i>search product</a
      >
    </li>
    <li>
      <a href="about.html"
        ><i class="fas fa-exchange-alt link-icon"></i>transfer stock</a
      >
    </li>
    <li>
      <a href="projects.html"><i class="fas fa-users link-icon"></i>customer</a>
    </li>
    <li>
      <a href="contact.html"
        ><i class="fas fa-history link-icon"></i>last session report</a
      >
    </li>
    <li>
      <a href="index.html"
        ><i class="fas fa-bullhorn link-icon"></i>promotion</a
      >
    </li>

    <li>
      <a href="projects.html"
        ><i class="fas fa-sync link-icon"></i>cloud sync</a
      >
    </li>
    <li>
      <a href="contact.html"><i class="fas fa-cog link-icon"></i>settings</a>
    </li>
  </ul>
  <!-- social media -->
  <ul class="sidebar-icons">
    <!-- <li>
      <button>
        <i class="fas fa-power-off"></i>
      </button>
    </li> -->
    <li class="sidebar-license">
      <span>Licenced to TCC</span>
    </li>
    <li>
      <button (click)="onClose()" class="close-btn">
        <i class="fas fa-times"></i>
      </button>
    </li>
  </ul>
</aside>
<app-overlay [show]="showMenu"> </app-overlay>
