<aside class="sidebar" [ngClass]="{ 'show-sidebar': showMenu }">
  <!-- links -->
  <div class="modules">
    <!-- single module -->
    <ng-container *ngFor="let module of modules">
      <app-menu-item
        [index$]="index$"
        [menuItem]="module"
        (expand)="index$.next($event)"
      ></app-menu-item>
    </ng-container>

    <!-- end of single module -->
  </div>
  <!-- social media -->
  <ul class="sidebar-icons">
    <li class="sidebar-license">
      <span>Licenced to TCC</span>
    </li>
    <li>
      <button (click)="onClose()" class="close-btn">
        <i class="fas fa-times"></i>
      </button>
    </li>
  </ul>
</aside>
<div class="overlay up-overlay" [ngClass]="{ show: showMenu }"></div>
