<div class="section-center">
  <form (ngSubmit)="onSubmit()" class="form" [formGroup]="resetForm">
    <h4>{{ isFirstLogin ? "Reset your password" : "Change Your Password" }}</h4>
    <app-input
      *ngIf="!isFirstLogin"
      inputType="password"
      label="Old Password"
      [control]="resetForm.controls.oldPassword"
    ></app-input>
    <app-input
      inputType="password"
      format="password"
      label="New Password"
      [control]="resetForm.controls.password"
    ></app-input>
    <app-input
      inputType="password"
      format="password"
      label="Confirm New Password"
      [control]="resetForm.controls.confirmPassword"
    ></app-input>
    <div *ngIf="resetForm.errors" class="text-danger">
      <p *ngIf="resetForm.errors['passwordsDontMatch']">Password don't match</p>
    </div>
    <button type="submit" class="btn btn-block">Reset</button>
  </form>
</div>
