<div class="form-row">
  <div class="form-label">
    <label [ngClass]="{ 'form-alert': showErrors() }">{{ label }}</label>
    <ng-container *ngIf="showErrors()" class="error">
      <div class="input-errors">
        <small *ngIf="control.errors?.['required']" class="form-alert"
          >required</small
        >
      </div>
    </ng-container>
  </div>
  <!-- <ng-select [searchable]="true" [formControl]="control">
    <ng-option *ngFor="let option of options" [value]="option.id">
      {{ option.value }}
    </ng-option>
  </ng-select> -->
  <ng-select
    [items]="options"
    bindLabel="value"
    bindValue="id"
    [searchable]="true"
    [formControl]="control"
    appendTo="body"
    [multiple]="isMultiple"
    groupBy="selectedAllGroup"
    [selectableGroup]="isMultiple"
    [placeholder]="placeholder"
  >
  </ng-select>
</div>
