<div class="form-row">
  <div class="form-label">
    <label [ngClass]="{ 'form-alert': showErrors() }">{{ label }}</label>
    <ng-container *ngIf="showErrors()" class="error">
      <div class="input-errors">
        <small *ngIf="control.errors?.['required']" class="form-alert"
          >required</small
        >
        <small *ngIf="control.errors?.['minlength']" class="form-alert">
          minimum length is
          {{control.errors?.['minlength'].requiredLength}} characters
        </small>
        <small *ngIf="control.errors?.['maxlength']" class="form-alert">
          maximum length is
          {{control.errors?.['maxlength'].requiredLength}} characters
        </small>
        <small *ngIf="control.errors?.['pattern']" class="form-alert"
          >required format is {{ format }}</small
        >
        <small *ngIf="control.errors?.['nonUniqueUsername']" class="form-alert"
          >Username is taken</small
        >
        <small *ngIf="control.errors?.['noConnection']" class="form-alert"
          >No internet connection</small
        >
      </div>
    </ng-container>
  </div>

  <input [type]="inputType" [formControl]="control" class="form-input" />
</div>
